#root {
    display: flex;
    justify-content: center;
}

.main_container {
    padding-top: 15vh;
}

.addTask_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.addTask_container > input {
    width: 300px;
}

.task_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.buttons_task_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}